<!DOCTYPE html>
<html>
	<head>
	<title>minitwit</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie&amp;subset=latin" rel="stylesheet" type="text/css">
	<link href="/css/screen.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>minitwit</h1>
		<div id="content">
			${self.body()}
		</div>
	</body>
	<script type="text/javascript" src="/js/minitwit.js"></script>
</html>